/storage/
.idea/
/shop/.DS_Store
/shop/Thumbs.db

/shop/.env
/shop/.env.*
!/shop/.env.example

/shop/bootstrap/cache/*.php
/shop/storage/logs/*
/shop/storage/debugbar/*

/shop/public/storage
/shop/storage/*.key

/shop/vendor/

/shop/node_modules/

/.idea/
/.vscode/
/*.code-workspace

/shop/npm-debug.log*
/shop/yarn-debug.log*
/shop/yarn-error.log*
/shop/*.log
/shop/*.cache
/shop/*.phpunit.result.cache

/shop/*.swp
/shop/*.swo
/shop/*.bak
/shop/*.orig

/shop/public/hot
/shop/public/mix-manifest.json
/shop/public/build
#/shop/public/assets
/shop/resources/assets/sass/vendor/
/shop/resources/assets/js/vendor/